<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fxyz.chebao.mapper.CarBrandTempMapper" >
  <resultMap id="BaseResultMap" type="com.fxyz.chebao.pojo.carSpider.CarBrandTemp" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="letter" property="letter" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="imgurl" property="imgurl" jdbcType="VARCHAR" />
    <result column="orl" property="orl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, letter, name, imgurl, orl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car_brand_temp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car_brand_temp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fxyz.chebao.pojo.carSpider.CarBrandTemp" >
    insert into car_brand_temp (id, letter, name, 
      imgurl, orl)
    values (#{id,jdbcType=INTEGER}, #{letter,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{imgurl,jdbcType=VARCHAR}, #{orl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fxyz.chebao.pojo.carSpider.CarBrandTemp" >
    insert into car_brand_temp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="letter != null" >
        letter,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="imgurl != null" >
        imgurl,
      </if>
      <if test="orl != null" >
        orl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="letter != null" >
        #{letter,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="orl != null" >
        #{orl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fxyz.chebao.pojo.carSpider.CarBrandTemp" >
    update car_brand_temp
    <set >
      <if test="letter != null" >
        letter = #{letter,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="orl != null" >
        orl = #{orl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fxyz.chebao.pojo.carSpider.CarBrandTemp" >
    update car_brand_temp
    set letter = #{letter,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      imgurl = #{imgurl,jdbcType=VARCHAR},
      orl = #{orl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>