<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fxyz.chebao.mapper.CarTypeTempMapper" >
  <resultMap id="BaseResultMap" type="com.fxyz.chebao.pojo.carSpider.CarTypeTemp" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="series_id" property="seriesId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="driving_mode" property="drivingMode" jdbcType="VARCHAR" />
    <result column="transmission" property="transmission" jdbcType="VARCHAR" />
    <result column="guide_price" property="guidePrice" jdbcType="VARCHAR" />
    <result column="dealer_price" property="dealerPrice" jdbcType="VARCHAR" />
    <result column="second_price" property="secondPrice" jdbcType="VARCHAR" />
    <result column="tax" property="tax" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="orl" property="orl" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, series_id, name, group_name, driving_mode, transmission, guide_price, dealer_price, 
    second_price, tax, state, orl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from car_type_temp
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from car_type_temp
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fxyz.chebao.pojo.carSpider.CarTypeTemp" >
    insert into car_type_temp (id, series_id, name, 
      group_name, driving_mode, transmission, 
      guide_price, dealer_price, second_price, 
      tax, state, orl)
    values (#{id,jdbcType=INTEGER}, #{seriesId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{groupName,jdbcType=VARCHAR}, #{drivingMode,jdbcType=VARCHAR}, #{transmission,jdbcType=VARCHAR}, 
      #{guidePrice,jdbcType=VARCHAR}, #{dealerPrice,jdbcType=VARCHAR}, #{secondPrice,jdbcType=VARCHAR}, 
      #{tax,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{orl,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.fxyz.chebao.pojo.carSpider.CarTypeTemp" >
    insert into car_type_temp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="seriesId != null" >
        series_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="groupName != null" >
        group_name,
      </if>
      <if test="drivingMode != null" >
        driving_mode,
      </if>
      <if test="transmission != null" >
        transmission,
      </if>
      <if test="guidePrice != null" >
        guide_price,
      </if>
      <if test="dealerPrice != null" >
        dealer_price,
      </if>
      <if test="secondPrice != null" >
        second_price,
      </if>
      <if test="tax != null" >
        tax,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="orl != null" >
        orl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="seriesId != null" >
        #{seriesId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="drivingMode != null" >
        #{drivingMode,jdbcType=VARCHAR},
      </if>
      <if test="transmission != null" >
        #{transmission,jdbcType=VARCHAR},
      </if>
      <if test="guidePrice != null" >
        #{guidePrice,jdbcType=VARCHAR},
      </if>
      <if test="dealerPrice != null" >
        #{dealerPrice,jdbcType=VARCHAR},
      </if>
      <if test="secondPrice != null" >
        #{secondPrice,jdbcType=VARCHAR},
      </if>
      <if test="tax != null" >
        #{tax,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="orl != null" >
        #{orl,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fxyz.chebao.pojo.carSpider.CarTypeTemp" >
    update car_type_temp
    <set >
      <if test="seriesId != null" >
        series_id = #{seriesId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null" >
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="drivingMode != null" >
        driving_mode = #{drivingMode,jdbcType=VARCHAR},
      </if>
      <if test="transmission != null" >
        transmission = #{transmission,jdbcType=VARCHAR},
      </if>
      <if test="guidePrice != null" >
        guide_price = #{guidePrice,jdbcType=VARCHAR},
      </if>
      <if test="dealerPrice != null" >
        dealer_price = #{dealerPrice,jdbcType=VARCHAR},
      </if>
      <if test="secondPrice != null" >
        second_price = #{secondPrice,jdbcType=VARCHAR},
      </if>
      <if test="tax != null" >
        tax = #{tax,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="orl != null" >
        orl = #{orl,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fxyz.chebao.pojo.carSpider.CarTypeTemp" >
    update car_type_temp
    set series_id = #{seriesId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      group_name = #{groupName,jdbcType=VARCHAR},
      driving_mode = #{drivingMode,jdbcType=VARCHAR},
      transmission = #{transmission,jdbcType=VARCHAR},
      guide_price = #{guidePrice,jdbcType=VARCHAR},
      dealer_price = #{dealerPrice,jdbcType=VARCHAR},
      second_price = #{secondPrice,jdbcType=VARCHAR},
      tax = #{tax,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      orl = #{orl,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>