<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fxyz.chebao.mapper.GroupMapper" >
  <cache type="com.fxyz.cache.redis.RedisCache"/>
  <resultMap id="BaseResultMap" type="com.fxyz.chebao.pojo.Group" >
    <id column="groupid" property="groupid" jdbcType="VARCHAR" />
    <result column="owner_account" property="ownerAccount" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="notification" property="notification" jdbcType="VARCHAR" />
    <result column="faceurl" property="faceurl" jdbcType="VARCHAR" />
    <result column="max_member_count" property="maxMemberCount" jdbcType="INTEGER" />
    <result column="apply_join_option" property="applyJoinOption" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="valid" property="valid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    groupid, owner_account, type, name, introduction, notification, faceurl, max_member_count, 
    apply_join_option, create_time, update_time, valid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from group_info
    where groupid = #{groupid,jdbcType=VARCHAR}
  </select>
  <!-- 根据类型查询群组-->
  <select id="findGroupsByType" resultMap="BaseResultMap" parameterType="java.lang.String"  >
    select
    <include refid="Base_Column_List" />
    from group_info
    where type = #{type,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from group_info
    where groupid = #{groupid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.fxyz.chebao.pojo.Group" >
    insert into group_info (groupid, owner_account, type, 
      name, introduction, notification, 
      faceurl, max_member_count, apply_join_option, 
      create_time, update_time, valid
      )
    values (#{groupid,jdbcType=VARCHAR}, #{ownerAccount,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, #{notification,jdbcType=VARCHAR}, 
      #{faceurl,jdbcType=VARCHAR}, #{maxMemberCount,jdbcType=INTEGER}, #{applyJoinOption,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{valid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fxyz.chebao.pojo.Group" >
    insert into group_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupid != null" >
        groupid,
      </if>
      <if test="ownerAccount != null" >
        owner_account,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="notification != null" >
        notification,
      </if>
      <if test="faceurl != null" >
        faceurl,
      </if>
      <if test="maxMemberCount != null" >
        max_member_count,
      </if>
      <if test="applyJoinOption != null" >
        apply_join_option,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="valid != null" >
        valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupid != null" >
        #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="ownerAccount != null" >
        #{ownerAccount,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="notification != null" >
        #{notification,jdbcType=VARCHAR},
      </if>
      <if test="faceurl != null" >
        #{faceurl,jdbcType=VARCHAR},
      </if>
      <if test="maxMemberCount != null" >
        #{maxMemberCount,jdbcType=INTEGER},
      </if>
      <if test="applyJoinOption != null" >
        #{applyJoinOption,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fxyz.chebao.pojo.Group" >
    update group_info
    <set >
      <if test="ownerAccount != null" >
        owner_account = #{ownerAccount,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="notification != null" >
        notification = #{notification,jdbcType=VARCHAR},
      </if>
      <if test="faceurl != null" >
        faceurl = #{faceurl,jdbcType=VARCHAR},
      </if>
      <if test="maxMemberCount != null" >
        max_member_count = #{maxMemberCount,jdbcType=INTEGER},
      </if>
      <if test="applyJoinOption != null" >
        apply_join_option = #{applyJoinOption,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="valid != null" >
        valid = #{valid,jdbcType=INTEGER},
      </if>
    </set>
    where groupid = #{groupid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fxyz.chebao.pojo.Group" >
    update group_info
    set owner_account = #{ownerAccount,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      notification = #{notification,jdbcType=VARCHAR},
      faceurl = #{faceurl,jdbcType=VARCHAR},
      max_member_count = #{maxMemberCount,jdbcType=INTEGER},
      apply_join_option = #{applyJoinOption,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=INTEGER}
    where groupid = #{groupid,jdbcType=VARCHAR}
  </update>
</mapper>